- title "Phones"
%table
  %tr
    %th Name
    %th Phone
  - for phone in @phones
    %tr
      %td= h phone.name
      %td= h phone.phone
      %td= link_to 'Edit', edit_phone_path(params[:b_card_id], phone)
      %td= link_to('Destroy', b_card_phone_path(params[:b_card_id], phone), :confirm => 'Are you sure?', :method => :delete)
  = will_paginate @phones
%p= link_to "New Phone", new_b_card_phone_path(params[:b_card_id])