%div.alphabetical= alphabetic_list

- title "Contacts"

- if @contacts.empty?
  %h4 Empty
- else
  %table
    %tr
      %th
      %th Name
      %th Email
      %th Description
      %th Phone
      %th Lists
    - for contact in @contacts
      %tr
        %td=  image_tag(contact.photo.url(:small))
        %td= h contact.name
        %td= h contact.email
        %td= h contact.description
        %td= h contact.phone
        %td.list= contact.lists.collect{|list| link_to(list.name, list)}.join(' ')
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete
      = will_paginate @contacts

%div.alphabetical= alphabetic_list

- if params[:list_id]
  %p= link_to "Assing Contact", adding_list_path(params[:list_id])
- else
  %p= link_to "New Contact", new_contact_path