- form_for @b_card do |f|
  = f.error_messages
  %p
    = f.label :company_name
    %br
    = f.text_field :company_name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.submit "Submit"
