- title "Bussiness Cards"

%table
  %tr
    %th 
    %th Company
    %th Description
  - for b_card in @b_cards
    %tr
      %td= image_tag(b_card.photo.url(:small))
      %td= h b_card.company_name
      %td= h b_card.description
      %td= link_to 'Adresses', b_card_addresses_path(b_card)
      %td= link_to 'Phones', b_card_phones_path(b_card)
      %td= link_to 'Show', b_card
      %td= link_to 'Edit', edit_b_card_path(b_card)
      %td= link_to 'Destroy', b_card, :confirm => 'Are you sure?', :method => :delete

  = will_paginate @b_cards

%p= link_to "New Bussines Card", new_b_card_path
